{
  "backgroundColor": "#000000",
  "world": {
    "x": 0,
    "y": 0,
    "width": "320",
    "height": "480",
    "collideWorldBounds": false
  },
  "camera": {
    "x": 0,
    "y": 0,
    "width": "320",
    "height": "480"
  },
  "physics": {
    "enable": false,
    "type": "ARCADE",
    "gravityX": 0,
    "gravityY": 0
  },
  "input": {
    "onDown": "",
    "onHold": "",
    "onTap": "",
    "onUp": ""
  }
}